.navbar {
  background-color:#FCE5D9;
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.logo {
  
}
.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
